@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-header-link.active {
  font-weight: bold;
}

body {
  background-color: #e9e9e9;
  overflow-x: hidden;
}



.left-nav-link.active {
  background-color: #4880ff;
  color: white;
}

td {
  text-align: center;
  padding: 5px;
}


/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #b5c1fe;
  border-radius: 50px;

}

::-webkit-scrollbar-thumb {
  background: #3656f8;
  border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
  background: #2b4eff;
}

@media (min-width: 1024px) {
  nav {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
  }
}